body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #BBB;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0px auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;

}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #C78C19;
}

.produtos li:active{
    border-color: #088C19;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2{
    font-weight: bold;
    font-size: 30px;    
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url("imagens/bg.jpg");
}

.copyright{
    color: #fff;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 20px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%;
}

.input-checkbox{
    margin: 20px 0;
}

.btn-enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 15px;
    font-weight: bold;
    background-color: sandybrown;
    border: none;
    border-radius: 15px;
    transition: 1s all;
    cursor: pointer;
}

.btn-enviar:hover{
    background-color: #FB7506;
    cursor: pointer;
    transform: scale(1.15);
}

table{
    margin: 20px 0 40px;
}

thead{
    background: #ccc;
    font-weight: bold;
}

th, td{
    border: 1px solid #000;
    text-align: center;
    padding: 10px 15px;
}

/* estilo da pagina principal Home */

.banner{
    width: 100%;
}

.principal{
    background-color: #fefefe;
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilio{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0 ;
}

.mapa{
    padding: 3em 0; 
    background: linear-gradient(#fefefe, #888);
}

.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}

.beneficios{
    padding: 3em 0;
    background: #888;
}

.lista-beneficios{
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.itens:before{
    content: "➤ " ;
}

.itens{
    line-height: 1.9em;
}

.itens:first-child{
    font-weight: bold;
}

.imagem-beneficios{
    width: 55%;
    box-shadow: 7px 7px 5px #000;
 }

 .imagem-beneficios:hover{
    opacity: 0.75;
    transition: 450ms;
 }

.video{
    width: 560px;
    margin: 2em auto;
}
